textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

@font-face {
	font-family: 'FA';
	src: url("fonts/fa-solid-900.eot");
	src: url("fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
		 url("fonts/fa-solid-900.woff2") format("woff2"),
		 url("fonts/fa-solid-900.woff") format("woff"),
		 url("fonts/fa-solid-900.ttf") format("truetype"),
		 url("fonts/fa-solid-900.svg#fontawesome") format("svg");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSansLight.eot');
	src: url('fonts/OpenSansLight.eot?#iefix') format('embedded-opentype'),
		 url('fonts/OpenSansLight.woff') format('woff'),
		 url('fonts/OpenSansLight.ttf') format('truetype'),
		 url('fonts/OpenSansLight.svg#open_sansregular') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans.eot');
	src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
		 url('fonts/OpenSans.woff') format('woff'),
		 url('fonts/OpenSans.ttf') format('truetype'),
		 url('fonts/OpenSans.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Saira';
    src: url('fonts/sairasemicondensed-regular-webfont.eot');
    src: url('fonts/sairasemicondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sairasemicondensed-regular-webfont.woff2') format('woff2'),
         url('fonts/sairasemicondensed-regular-webfont.woff') format('woff'),
         url('fonts/sairasemicondensed-regular-webfont.svg#saira_semicondensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Saira';
    src: url('fonts/sairasemicondensed-thin-webfont.eot');
    src: url('fonts/sairasemicondensed-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sairasemicondensed-thin-webfont.woff2') format('woff2'),
         url('fonts/sairasemicondensed-thin-webfont.woff') format('woff'),
         url('fonts/sairasemicondensed-thin-webfont.svg#saira_semicondensedthin') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
  font-family: 'Comgas-AA';
  src: url('fonts/Comgas-AA.eot');
  src: url('fonts/Comgas-AA.eot') format('embedded-opentype'), url('fonts/Comgas-AA.woff') format('woff'), url('fonts/Comgas-AA.svg') format('svg');
  font-weight: 400;
  font-style: normal
}


*:focus {
    outline: none;
}

*{
	-webkit-overflow-scrolling: touch;
}

html, body{
	width: 100%;
	height:100%;
	padding:0;
	min-width: 320px;
	margin:0;
	overflow-x:hidden;
}

.NE_COLOR_PRIMARY{
	background-color: #004070;
	color: #FFFFFF;
}

.NE_COLOR_PRIMARY_OUTLINE{
	border-color: #004070;
	background-color: transparent;
	color: #004070;
}

.NE_COLOR_SECONDARY{
	background-color: #7bb322;
	color: #FFFFFF;
}

.NE_COLOR_SECONDARY_OUTLINE{
	border-color: #7bb322;
	background-color: transparent;
	color: #7bb322;
}
.NE_COLOR_TERCEARY_OUTLINE{
	border-color: #00A7DE;
	background-color: transparent;
	color: #00A7DE;
}
.NE_COLOR_QUARTENARY{
	background-color: #f49102;
	border-color: #f49102;
	color: #FFFFFF;
}

.NE_COLOR_QUARTENARY_OUTLINE{
	border-color: #f49102;
	background-color: transparent;
	color: #f49102;
}

.NE_COLOR_QUARTENARY_FILLED{
	border-color: #f49102;
	background-color: #FFFFFF;
	color: #000000;
}
.NE_COLOR_SECONDARY_FILLED{
	border-color: #7bb322;
	background-color: #FFFFFF;
}

.NE_COLOR_WHITE_OUTLINE{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
}

.NE_COLOR_BLACK_FILLED{
	border-color: #000000;
	background-color: #000000;
	color: #FFFFFF;
}

.NE_COLOR_GRAY_FILLED{
	border-color: #000000;
	background-color: #000000;
	color: #FFFFFF;
}

.NE_COLOR_LIGHTBLUE_FILLED{
	border-color: #00A7DE;
	background-color: #00A7DE;
	color: #FFFFFF;
}

.NE_COLOR_LIGHTBLUE_OUTLINE{
	border-color: #00A7DE;
	background-color: #FFFFFF;
	color: #FFFFFF;
}

.NE_COLOR_BLUE_GRADIENT{
	border-color: transparent;
	background: linear-gradient(90deg, #127ab4, #1ba9dc);
	color: #FFFFFF;
}

.NE_COLOR_YELLOW_GRADIENT{
	border-color: transparent;
	background: linear-gradient(90deg, #f5a928, #fed530);
	color: #FFFFFF;
}

.NE_COLOR_GREEN_GRADIENT{
	border-color: transparent;
	background: linear-gradient(90deg, #6d9f37, #88bb37);
	color: #FFFFFF;
}

.NE_CLOSE_ABSOLUTE {
	position: absolute;
	top: -5px;
	right: 5px;
}

.NE_BOX_VIEW{
	max-width: 800px;
}
.NE_BOX_VIEW_DESKTOP{
	box-sizing: border-box;
	margin:auto;
	max-width: 1100px;
}

.NE_BOX_VIEW_MDESKTOP{
	box-sizing: border-box;
	margin:auto;
	max-width: 800px;
}

.NE_STRUCTURE{
	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	margin:0;
	border:0;
}

.NE_STRUCTURE td{padding:0;margin:0;}

.NE_HEADER_VIEW{
	width: 100%;
	height: 50px;
	padding:0;
	vertical-align:middle;
	box-sizing: border-box;
}

.NE_HEADER2_VIEW{
	width: 100%;
	height: 90px;
	padding: 0;
	vertical-align:middle;
	box-sizing: border-box;
}

.NE_HEADER_CONTENT{
	box-sizing: border-box;
	padding:0;
	margin:auto;
}

.NE_HEADER_BRAND{
	display:block;
	width: 180px;
	height: 40px;
	background-image: url('images/logo_default.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
}

.NE_HEADER_BRAND_WHITE{
	display:block;
	width: 180px;
	height: 40px;
	background-image: url('images/logo_default_branco2.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
}

.NE_ACTION_VIEW{
	width: 100%;
	height: 150px;
	position: relative;
	box-sizing: border-box;
}

.NE_ACTION_CONTENT{
	box-sizing: border-box;
	padding:0 10px;
	margin:auto;
	height:100%;
}

.NE_ACTION_CONTENT_STR{
	width:100%;
	height:100%;
	table-layout: fixed;
}

.NE_ACTION_CONTENT_STR td{
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.NE_ACTION_ICON, .NE_ACTION_ICON_ENVIAR{
	font-family:'FA';
	font-size: 14px;
	width: 30px;
	height:30px;
	line-height: 30px;
	border-radius: 50%;
	text-align:center;
	background-color: rgb(0,0,0,.2);
	display:inline-block;
	cursor:pointer;
	margin-bottom: 5px;
	margin-top: 5px;
}

.NE_ACTION_TITLE{
	font-family: 'Saira';
	font-size: 20px;
	line-height: 20px;
	font-weight: 200;
}


.NE_ACTION_BUTTON{
	margin:0;
	line-height:14px;
	padding:4px 15px;
	border-radius: 5px;
	border-width: 1px;
	cursor:pointer;
	font-family: 'Open Sans';
	font-weight: 200;
	font-size: 12px;
	text-transform: uppercase;
	box-sizing:border-box;
	display:inline-block;
}

.NE_ACTION_D{
	position:absolute;
	z-index: 9999;
	bottom:-10px;
	left:85%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 15px 0 15px;
	border-color: #004070 transparent transparent transparent;
}

.NE_ACTION_D_VIEW{
	position:absolute;bottom: 0;z-index: 9999;width:100%
}

.NE_ACTION_D_1{
	position:absolute;
	z-index: 9999;
	bottom:-10px;
	left:85%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 15px 0 15px;
	border-color: #CCC transparent transparent transparent;
}

.NE_ACTION_D_2{
	position:absolute;
	z-index: 9999;
	bottom:-9px;
	left:85%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 15px 0 15px;
	border-color: #FFFFFF transparent transparent transparent;
}


.NE_CONTENT_VIEW{
	position:relative;
	width: 100%;
	/*height:0;*/
	vertical-align:top;
	box-sizing: border-box;
}

.NE_CONTENT_WRAPPER{
	position:absolute;
	top:0;left:0;
	width: 100%;
	height:100%;
	overflow-x: hidden;
	overflow-y: auto;

}
.NE_CONTENT_WRAPPER_DESKTOP{
	position:absolute;
	top:0;left:0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;

}

.NE_CONTENT{
	box-sizing: border-box;
	padding: 10px;
	margin:auto;
}

.NE_BOTTOM_COMMAND_VIEW{
	width: 100%;
	height: 14px;
	vertical-align:top;
	box-sizing: border-box;
}

.NE_BOTTOM_COMMAND_CONTENT{
	box-sizing: border-box;
	padding:2px 10px;
	margin:auto;
}


.NE_FOOTER_VIEW{
	width: 100%;
	height: 35px;
	vertical-align:middle;
	box-sizing: border-box;
	z-index: 999999;
	position: relative;
}

.NE_FOOTER_CONTENT{
	box-sizing: border-box;
	padding:2px 10px;
	margin:auto;
}

.NE_FOOTER_TEXT{
	font-family: 'Open Sans';
	font-weight: 200;
	font-size: 10px;
	line-height: 20px;

}

.NE_FOOTER_BRAND{
	display:inline-block;
	padding-left:15px;
	width: 122px;
	height: 16px;
	text-align: right;
	background-image: url('images/IniciativaComgas.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
	vertical-align:middle;
}

.NE_MAIN_BUTTON{
	width: 100%;
	border-style: solid;
	padding: 10px 5px;
	box-sizing: border-box;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	cursor:pointer;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.NE_MAIN_LINK{
	font-family: 'Open Sans';
	font-size: 12px;
	color: inherit;
  	text-decoration: inherit;
}

.NE_LINK{
	color: inherit;
  	text-decoration: inherit;
}

.NE_ACCEPT{}
.NE_REJECT{}
.NE_DEFAULT{}

.NE_FORM{margin:0;padding:0;text-align:left;max-width: 300px;width:90%;margin:auto}

.NE_CONTENT_ROW{clear:both;margin:auto;overflow:hidden;position:relative;z-index:99;}
.NE_CONTENT_1COL_EMPTY  {width:100%;float:none;width:100%;box-sizing:border-box;}
.NE_CONTENT_1COL{width:100%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_1COL_SPLIT{width:100%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_2COL40{float:left;width:40%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_2COL60{float:left;width:60%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_2COL20{float:left;width:20%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_2COL25{float:left;width:25%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_2COL80{float:left;width:80%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_2COL30{float:left;width:30%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_2COL75{float:left;width:75%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_2COL70{float:left;width:70%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_2COL50{float:left;width:50%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_3COL{float:left;width:33.33%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_4COL{float:left;width:25%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_5COL{float:left;width:20%;padding:20px 5px;text-align:left;box-sizing:border-box;}

.NE_CONTENT_5COL20{float:left;width:20%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_5COL40{float:left;width:40%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_5COL60{float:left;width:60%;padding:20px 5px;text-align:left;box-sizing:border-box;}

.NE_CLEAR_MOBILE_PADDING{}

.NE_CLEAR_PADDING{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.NE_CLEAR_ALL_PADDING{
	padding: 0 !important;
}

.NE_CLEAR_SIDE_PADDING{
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.NE_5_SIDE_PADDING{
	padding-right: 1px !important;
	padding-left: 1px !important;
}

.NE_SHADOW_PADDING{
	padding-top: 5px !important;
}

.NE_TAB_VIEW{
	width: 100%;
	table-layout: fixed;
}
.NE_TAB_DIRECT{
	font-family:'FA';
	font-size: 16px;
	width:15%;
	vertical-align:middle;
	text-align:center;
	cursor:pointer;
}
.NE_TAB_DIRECT:HOVER{
	background-color: rgb(0,0,0,.1);
}

.NE_PHOTO_VIEW{
	width: 100%;
	max-width: 200px;
	border-collapse: collapse;
	border: 1px solid #BBB;
	table-layout: fixed;
	margin:auto;
	border-radius: 40px;
}
.NE_PHOTO_VIEW td{
	box-sizing:border-box;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.NE_PHOTO_CONTAINER{
	position:relative;
	height: 130px;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
}

.NE_PHOTO_STATUS_ACCEPT{
	position:absolute;
	top:5px;
	right:5px;
	width: 25px;
	height: 25px;
	background-color: rgba(96, 255, 65,.2);
	border-radius: 50%;
	background-image: url('images/photos/accept.png');
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
}

.NE_PHOTO_STATUS_REJECT{
	position:absolute;
	top:5px;
	right:5px;
	width: 25px;
	height: 25px;
	background-color: rgba(255, 65, 65,.2);
	border-radius: 50%;
	background-image: url('images/photos/reject.png');
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
}

.NE_PHOTO_LABEL{
	vertical-align:middle;
	height: 20px;
	font-family: 'Saira', Arial, sans-serif;
	font-size: 14px;
}

.NE_PHOTO_REJECTED{
	background-color: rgba(255,100,100,.1);
}
.NE_PHOTO_ACCEPTED{
	background-color: rgba(100,255,100,.1);
}

.NE_CONTENT_2COL50_FIXED{float:left;width:50%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_2COL70_FIXED{float:left;width:70%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_2COL60_FIXED{float:left;width:60%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_2COL30_FIXED{float:left;width:30%;padding:20px 5px;text-align:left;box-sizing:border-box;}

.NE_CENTER{text-align:center;margin:auto;}
.NE_NOT_MOBILE{}
.NE_NOT_DESKTOP{display:none}
.NE_NOT_DESKTOP_2{display:none}

.NE_CHECKBOX_LABEL{
	font-family: 'Saira', Arial, sans-serif;
	font-size: 14px;
}

.NE_LEFT{text-align:left;}
.NE_RIGHT{text-align:right;}
.NE_TOP{vertical-align:top}
.NE_BOTTOM{vertical-align:bottom}

.NE_TRUNCATE{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.NE_SPACE_BOTTOM_10{margin-bottom: 10px}
.NE_SPACE_BOTTOM{margin-bottom: 20px}
.NE_SPACE_TOP{margin-top: 20px}

h1, h2, h3, h4, .NE_LABEL, .NE_LIST_MESSAGE, .NE_HOME_TEXT{
	font-family: 'Saira', Arial, sans-serif;
	padding:0;margin:0;
}

p, th {
	padding:0;
	margin:0;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 12px;
	font-weight: 200;
}


h1 {font-size: 32px;font-weight: 200;}
h2 {font-size: 26px;font-weight: 200;}
h3 {font-size: 16px;font-weight: 200;}
.NE_HOME_TEXT{font-size: 50px;font-weight: 200;}
.NE_LABEL { font-size: 14px;font-weight: 400; }
.NE_TEXT { font-size: 12px;font-weight: 400; font-family: 'Saira', Arial, sans-serif; }
.NE_TEXT_NORMAL { font-family: Arial, sans-serif; letter-spacing: normal;}
.NE_INFO { font-size: 15px;font-weight: 400; line-height: 18px;}
.NE_LIST_MESSAGE{font-size: 15px;font-weight: 200;}

.NE_LIGHT{font-weight: 200}
.NE_REGULAR{font-weight: 400}
.NE_HEAVY{font-weight: bold}

.NE_PRIMARY_TEXT_COLOR{color: #004070;}
.NE_SECONDARY_TEXT_COLOR{color: #7bb322;}
.NE_TERCIARY_TEXT_COLOR{color: #009dd9;}
.NE_QUARTENARY_TEXT_COLOR{color: #f49102;}
.NE_WHITE_TEXT_COLOR{color: #FFFFFF;}
.NE_TEXT_COLOR{color: #AAAAAA;}
.NE_ICON_COLOR{color: #ffd003;}

.NE_COLLAPSIBLE_VIEW{
	overflow:hidden;
}

.NE_COLLAPSIBLE_VIEWPORT{
	overflow:hidden;
	height:0;
	transition: height .3s;
}

.NE_COLLAPSIBLE_CONTENT{
	padding-top: 5px;
}

.NE_LINE{}
.NE_COLLAPSIBLE_ICON{}

.NE_STAR_VIEW{
	width: 100%;
	table-layout: fixed;
	padding:0;
	margin:0;
	border-collapse: collapse;
	/* border-bottom: 1px solid #CCCCCC; */
}
.NE_STAR_VIEW td{
	padding: 10px;
	box-sizing: border-box;
	text-align:center;
	vertical-align:middle;
	font-family: 'FA', Arial, sans-serif;
	font-size: 32px;
	color: #CCCCCC;
	cursor:pointer;
}
.NE_STAR_VIEW td:HOVER{
	color: #EEEEEE;
}

.NE_DRAG_VIEWPORT{
	overflow-x:auto;
	position:relative;
	user-select:none;
	cursor:pointer;
	margin:auto;
	box-sizing: border-box;
	position:relative;
}

.NE_DRAG_CONTENT{
	box-sizing: border-box;
	white-space: normal;
	left:0;
}

.NE_DRAG_CONTENT{
	white-space: nowrap;
}

.NE_RATE_ICON{
	display:inline-block;
	padding: 20px 0 20px 0;
	width: 100px;
	white-space: normal;
	box-sizing:border-box;
	vertical-align: top;
	text-align: center;
}
/* POP UP*/
.NES_COMPONENT_POPUP_BG {
	border-spacing: 0;
	border-collapse: separate;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wYYFBAhKNWHKQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAADUlEQVQI12NgYGA4AwAA0QDN0A/sMwAAAABJRU5ErkJggg==');
	opacity: 0;
	display: none;
}

.NES_COMPONENT_POPUP {
	width: 90%;
	max-width: 400px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wYYFBAhKNWHKQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAADUlEQVQI12NgYGA4AwAA0QDN0A/sMwAAAABJRU5ErkJggg==');
	border-radius: 4px;
}

.NES_COMPONENT_POPUP_CONTENT {
	border-spacing: 0;
	border-collapse: separate;
	width: 100%;
	height: 100%;
	background-color: #EEEEEE;
	border-radius: 4px;
	text-align: center;
	font-family: 'Open Sans', Helvetica, sans-serif
}

.NES_COMPONENT_POPUP_TITLE {
	text-align: center;
	vertical-align: middle;
	height: 1;
	padding: 10px;
	border-bottom: 1px solid #BBBBBB;
	background-color: #CCCCCC;
	border-radius: 4px;
	color: #333333;
	font-weight: bold;
	font-size: 16px
}

.NES_COMPONENT_POPUP_CONTAINER {
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	padding: 10px 20px;
	color: #555555
}

.NES_COMPONENT_POPUP_LOADING {
	height: 5px;
	background-color: #EEEEEE;
	border-top: 1px solid #CCCCCC;
	padding: 0
}

.NES_COMPONENT_POPUP_LOADING_BAR {
	transition: width 1s;
	height: 100%;
	width: 30%;
	background-color: #0078A8;
}

.NES_COMPONENT_POPUP_BUTTONS {
	text-align: center;
	vertical-align: middle;
	height: 70;
}

.NES_COMPONENT_POPUP_BUTTON {
	font-weight: bold;
	text-shadow: 1px 1px 1px #555555;
	color: #FFFFFF;
	margin: 20px 5px;
	border: 1px solid #666666;
	border-radius: 0;
	padding: 7px 40px;
	font-size: 14px;
}

.NES_COMPONENT_POPUP_BUTTON_ACCEPT {
	background-color: #7bb322;
}

.NES_COMPONENT_POPUP_BUTTON_REJECT {
	background-color: #f49102;
}

.NES_COMPONENT_POPUP_BUTTON_NORMAL {
	background-color: #7070FF;
}

.NE_CARET_COLOR_PRIMARY {
	caret-color: #FFFFFF !important;
	color: #FFFFFF !important;
}

/* LUCAS */

.NE_PINFO p{
	padding-bottom: 10px !important;
}

.NE_NOTIFY_LIST {
	position: absolute;
	height: 100%;
	width: 10px;
	background-color: #88bb37;
	top: 0;
	bottom: 0;
	left: 0;
}

.NE_CONTAINER_CHAT {
	padding:5px;
	box-sizing:border-box;
	overflow:hidden;
	user-select: none;
}

.NE_CHAT_BOX {
	word-wrap: break-word;
	text-align:left;
	display:inline-block;
	min-width:80px;
	max-width:80%;
	border-radius: 5px;
	padding:7px 7px 14px 7px;
	position:relative;
	box-sizing:border-box;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:12px
}

.NE_CHAT_BOX_RECEIVER {
	background-color: #EFEFEF;
	border:1px solid #EFEFEF;
	float:left;
}

.NE_CHAT_BOX_SEND {
	float:right;
}

.NE_CHAT_BOX_RECEIVER > .NE_CHAT_BOX_TIME {
	position:absolute;
	bottom:1px;
	left:5px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:8px;
	color: #CCC;
}

.NE_CHAT_BOX_SEND > .NE_CHAT_BOX_TIME {
	position:absolute;
	bottom:1px;
	right:5px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:8px;
	color: #84dcf9
}

.NE_CONTENT_WRAPPER_PERFIL {
	position: relative;
	top:0;left:0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.NE_LETTER_0 {
	letter-spacing: 0 !important;
}

.NE_LETTER_1 {
	letter-spacing: 1px !important;
}

.NE_LETTER_NEG {
	letter-spacing: -1px !important;
}

.FONT_SIZE_LOGIN {
	font-size: 12px;
}

.NE_WIDTH_TD_SERVICOS {
	width: 65%;
}

.NE_TABLE_50 {
	width: 50% !important;
}

.NE_TABLE_70 {
	width: 70% !important;
}

.NE_CONTENT_WRAPPER_PHOTO {
	height: auto;
}

.NE_MIN_PROFILE {
	min-height: 300px;
}

.NE_DISABLED {
	background-color: #efefef;
	cursor: default;
}

.NE_READ_ONLY {
	background-color: #f7f7f7;
	opacity: 0.6;
}

.NE_THUMB {
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	border-radius: 2px;
	background-color: #FFF;
}

.NE_LIST_DEFAULT div {
	padding-top: 5px;
	padding-bottom: 10px;
	/* padding-left: 10px; */
}

.NE_CLIENT_CONTEXT div {
	padding-bottom: 10px;
}

.NE_BTN_DEFAULT {
	font-family: 'Saira', Arial, sans-serif;
	width: 100%;
	margin-top: 2px;
	padding: 12px;
	font-size: 16px;
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-radius:  2px;
	cursor: pointer;
}

.NE_BUTTON_MIN {
	width: auto;
	padding: 6px 12px;
	font-size: 11px;
}

.NE_MESSAGE{
	font-family: 'Saira', Arial, sans-serif;
	width: 40%;
	margin-top: 2px;
	font-size: 14px;
	display: inline;
	border-width: 5px;
	border-style: solid;
	border-radius:  12px;
}
.NE_INPUT {
	font-family: 'OpenSans', Arial, sans-serif;
	width: 100%;
    padding: 12px;
	margin-top:2px;
    border-width: 1px;
	border-style: solid;
    border-radius: 2px;
    resize: vertical;
	box-sizing: border-box;
}

.NE_LIST_INSTALADORES.NE_READ_ONLY p, .NE_LIST_INSTALADORES.NE_READ_ONLY h2 {
	color: #BBBBBB !important;
}

.NE_FORM_GRID {
	height: 45px !important;
}

.NE_TABLE_FIXED {
	width: 100%;
	table-layout: fixed;
}

.NE_BORDER_BOTTOM {
	border-bottom: 1px solid #ccc;
}

.NE_BORDER_BOTTOM_LIST {
	border-bottom: 1px solid #dfdfdf;
}

.NE_BORDER_BOTTOM_MIN_85 {
	border-bottom: 1px solid #ccc;
	width: 85%;
}

.NE_BORDER_BOTTOM_MIN_95 {
	border-bottom: 1px solid #ccc;
	width: 85%;
}

.NE_PT5 {
	padding-top: 5px;
}

.NE_PB5 {
	padding-bottom: 5px;
}

.NE_PT10 {
	padding-top: 10px;
}

.NE_PT20 {
	padding-top: 20px;
}

.NE_PB10 {
	padding-bottom: 10px;
}

.NE_PB20 {
	padding-bottom: 20px;
}

.NE_MT5 {
	margin-top: 5px;
}

.NE_MB5 {
	margin-bottom: 5px;
}

.NE_MT10 {
	margin-top: 10px;
}

.NE_MT20 {
	margin-top: 20px;
}

.NE_MB10 {
	margin-bottom: 10px;
}

.NE_MB20 {
	margin-bottom: 20px;
}

.NE_PADDING_5 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.NE_PADDING_10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.NE_ICON{
	font-family:'FA';
	font-size: 14px;
	text-align:center;
	display:inline-block;
}

.NE_CURSOR {
	cursor: pointer;
}

.NE_TD_EQUIPAMENTOS {
	padding: 0 !important;
}

.NE_ICON_AVALIACAO{
	position: relative;
	margin: 0 auto 5px auto;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	background-image:url('images/user.jpg');
}

.NE_COUNT_AVALIACAO{
	position: absolute;
	width: 20px;
	height: 20px;
	top: -5px;
	right: -5px;
	border-radius: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	padding: 3px 5px;
	box-sizing: border-box;
}

.NE_COLLAPSIBLE_CONTENT_BOX {
	padding: 5px 10px;
}

.NE_COLLAPSIBLE_COLOR_BOX {
	background-color: #f5f5f5;
}

.NE_BTN_UPLOAD {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	height: 130px;
	box-sizing:border-box;
}

.NE_BTN_UPLOAD_UPDATE {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	height: 360px;
	box-sizing:border-box;
}

.NE_BTN_UPLOAD_CONTENT {
	border: 0;
	font-size: 20px;
	font-weight: bold;
	position:relative;
	height: 100%;
	width: 100%;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	box-sizing:border-box;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.NE_BTN_UPLOAD_UPDATE_CONTENT {
	border: 0;
	padding: 8px 20px;
	font-size: 20px;
	font-weight: bold;
	position:relative;
	height: 100%;
	width: 100%;
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
	box-sizing:border-box;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	background-color: #000;
}

.NE_FILE_UPLOAD {
  font-size: 110px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0
}

/* GABRIEL */
::placeholder {
color:  #bfbfbf;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:  #bfbfbf;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color:  #bfbfbf;
}
.NE_BACKCOLOR_BOX {
	background-color: #f5f5f5;
}
.NE_CHAT{
	 position: absolute;
	 bottom: 10;
  	 margin-top: 0px;
}
.NE_CONTENT_2COL20_FIXED{float:left;width:20%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_2COL30_FIXED{float:left;width:30%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_2COL40_FIXED{float:left;width:40%;padding:20px 5px;text-align:left;box-sizing:border-box;}
.NE_CONTENT_1COL_MATERIAL {float:none;width:100%;}

.NE_WEEK_SELECTOR_PERIOD, .NE_WEEK_SELECTOR_PERIOD_SELECTED{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	font-weight: 200;
	width: 100%;
	height:38px;
	line-height: 38px;
	border-radius: 19px;
	text-align:center;
	display:inline-block;
	cursor:pointer;
}
.NE_WEEK_SELECTOR_PERIOD{background-color: #EEEEEE;}
.NE_WEEK_SELECTOR_PERIOD_SELECTED{background-color: #CCCCCC !important;}
.NE_QUESTION_SELECTED{background-color: #CCCCCC; border-radius: 10%; width: 66px; text-align: left; padding-left: 10px}
.NE_QUESTION{padding-left: 10px}


.NE_COLOR_SECONDARY_CONFIRM_BUTTON{
		background-color: #7bb322;
		color: #FFFFFF;
		border-color: #7bb322;
}
.NE_COLOR_SECONDARY_CONFIRM_BUTTON_FILLED{
	border-color:#7bb322;
	background-color: transparent;
	color: #000000;
}
.NE_COLOR_SECONDARY_CONFIRM_BUTTON_OUTLINE{
	border-color:#7bb322;
	background-color: transparent;
	color: #7bb322;
}
.NE_TAB_DIRECT_HIDDEN{
	font-family:'FA';
	font-size: 16px;
	width:15%;
	vertical-align:middle;
	text-align:center;
}


.NE_COLOR_WHITE_FILLED{
	background-color: #FFFFFF;
}


.NE_CLEAR_PADDING_ICON{
	padding-top: 5px;
	padding-bottom: 0;
}


.NE_ICON_WITHOUT_BORDER{
	border-radius: 0%;
	border-width: 0px;
}
.NE_ICON_HOME{
		background-image:url('images/home.png');
}
.NE_ICON_CHAT{
	width: 55px;
	background-image:url('images/chat.png');
}
.NE_ICON_NOTIFICATIONS{
	width: 55px;
	background-image:url('images/alerta.png');
}
.NE_ICON_USER{
	background-image:url('images/gasista.png');
}
.NE_ICON_CASH{
	background-image:url('images/dinheiro.png');
}

.NE_ICON_HOME1{
	background-image:url('images/home1.png');
  background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	margin-left: 20%;
	margin-top: 20%;
  background-size: 21px 21px;
}
.NE_ICON_ACTIVED{
	/* border-bottom: 2px solid #0CABDF;
	padding: 5px; */
}

.NE_ICON_ACTIVED div {
	font-weight: bold
}

.NE_ICON_ACTIVED span {
	/* border-bottom: 2px solid #0CABDF; */
	padding: 5px;
}

.NE_ICON_INSTALADOR_ACTIVED{
	/* border-bottom: 2px solid #0CABDF; */
	width: 50%;
}

.NE_NAV_COMP{margin:auto;    width:90%;  table-layout:fixed;border-collapse: collapse;}
.NE_NAV_COMP td{vertical-align:middle;text-align:center}
.NE_NAV_COMP_LINE hr{height:0;border:none;border-bottom:1px solid #BBBBBB;}
.NE_NAV_COMP_IMG img{width:100%;padding:0;margin:0;display:block;}
.NE_NAV_COMP_IMG{width:64px;}
.NE_NAV_COMP_LINE {}

.NE_BORDER_FULL{
	margin-top: 5px;
	padding: 10px 10px 10px 10px;
	border-style: solid;
  border-width: 1px;
	border-color: #ddd;
	box-shadow: 0 5px 20px rgba(162,188,201,.3);
}

.NE_HORIZONTAL_PADDING_10_TITLE {
	padding-left: 10px;
	padding-right: 10px;
}

.NE_HORIZONTAL_PADDING_10 {
	padding-left: 10px;
	padding-right: 10px;
}
.NE_HORIZONTAL_PADDING_LEFT_10 {
	padding-left: 10px;
}

.NE_HORIZONTAL_PADDING_20 {
	padding-left: 20px;
	padding-right: 20px;
}
.NE_HORIZONTAL_PADDING_LEFT_20 {
	padding-left: 20px;
}

.NE_HORIZONTAL_PADDING_30 {
	padding-left: 30px;
	padding-right: 30px;
}
.NE_HORIZONTAL_PADDING_LEFT_30 {
	padding-left: 30px;
}



.NE_INPUT_MATERIAL{
	margin:0;
	width: 70px;
	line-height:7px;
	border-width: 1px;
	font-weight: 200;
	font-size: 16px;
	text-transform: uppercase;
	box-sizing:border-box;
	display:inline-block;
}

.NE_BUTTON_BORDER_RADIUS{
    border-radius:25px
}

.NE_ICON_AVALIACAO_BORDER_NONE{
	border-radius: 0;
	border-width: 0;
}
.NE_ICON_AVALIACAO_ATENDIMENTO{
		background-image:url('images/atendimento.png');
}
.NE_ICON_AVALIACAO_PONTUALIDADE{
		background-image:url('images/pontualidade.png');
}
.NE_ICON_AVALIACAO_ORGANIZACAO{
		background-image:url('images/organizacao.png');
}
.NE_ICON_AVALIACAO_CONHECIMENTO{
		background-image:url('images/conhecimento.png');
}
.NE_ICON_AVALIACAO_QUALIDADE{
		background-image:url('images/qualidade.png');
}
.NE_ICON_AVALIACAO_QUALINSTALL{
		background-image:url('images/Qualinstal.png');
}
.NE_HOME_SPACE_TOP{padding-top: 120px}
.NE_ACTION_ICON_ENVIAR{	background-color: #7bb322;}

.NE_LINE_HEIGHT_BIG{line-height:40px;}
.NE_LINE_HEIGHT_20{line-height:20px;}
.NE_LINE_HEIGHT_SMALL{line-height:15px;}

.NE_BACKCOLOR_BOX{
		background-color: #F3F3F3;
}
.NE_BOX_SHADOW{
    padding: 5px;
    box-shadow: 0 5px 20px rgba(162,188,201,.3);
		background-color:white;
}
/*TOGGLE SWITCH*/
.NE_TOGGLE {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}
.NE_SWITCH {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.NE_SWITCH:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
	border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .NE_SWITCH {background-color:  #004070;}
input:focus   + .NE_SWITCH {box-shadow: 0 0 1px  #004070;}
input:checked + .NE_SWITCH:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.NE_MAIN_PADDING_CONTENT{
	padding:  20px 30px;
	min-height: 400px;
}
.NE_MAIN_HEIGHT{
	height: 70px;
}
.NE_FLOAT_TOP{
	position: relative;
	margin-top: -130px;
}

.NE_INPUTFILE {
    width: 1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.NE_INPUTFILE + label {
    background-color: #7bb322;
    color: #FFFFFF;
    border-color: #7bb322;
    cursor: pointer;
    padding: 10px 20px;
	position: absolute;
}
.NE_INPUTFILE:focus + label,
.NE_INPUTFILE.has-focus + label,
.NE_INPUTFILE + label:hover {
    background-color: #4e7215;
}


/*LIGHTBOX*/
.NE_LIGHTBOX{
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 20px;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}
.NE_CLOSE, .NE_CLOSE_MOBILE {
  color:  #FFFFFF;
  font-size: 40px;
  font-weight: bold;
}
.NE_CLOSE_MOBILE {
	color:  #004070;
}
.NE_CLOSE:hover,.NE_CLOSE:focus, .NE_CLOSE_MOBILE:hover, .NE_CLOSE_MOBILE:focus {
  color: #999;
  text-decoration: none;
}
.NE_LIGHTBOX_CONTENT, .NE_LIGHTBOX_CONTENT_X {
  background-color: #fefefe;
  margin: auto;
	border-radius: 4px;
  padding: 0;
  width: 90%;
  max-width: 500px;
}
.NE_LIGHTBOX_CONTENT_X{
  background-color: transparent;
}
.NE_LIGHTBOX_PADDING{
	padding: 10px;
}
.NE_BORDER_RADIUS_4{
	border-radius: 4px;
}
.NE_BORDER_RADIUS_10{
	border-radius: 10px;
}
.NE_LIGHTBOX_BUTTON{
	width: 100%;
	border-style: solid;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	cursor:pointer;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.NE_LOGIN_BG_SETA{
	background-position:left;
	background-repeat: no-repeat;
	position:absolute;
	top:0;left:0;
	width: 100%;
	height:100%;
}

.NE_ICON_SAIR{
	font-family: Comgas-AA!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.NE_ICON_SAIR:before {
	content: "\e922";
}

.NE_ICON_CARTA, .NE_ICON_SINO{
	font-family: Comgas-AA!important;
	speak: none;
	font-size:20px;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display:inline-block;
}

.NE_ICON_CARTA:before{
	content: "\e90B";
}
.NE_ICON_SINO:before{
	content: "\e926";
}

.NE_ICON_CARTA_STATUS, .NE_ICON_SINO_STATUS{
	position:absolute;
	top:-5px;right:0;
	display:none;
	width:7px;height:7px;
	border-radius:50%;
	background-color: green;
}

.NE_CHAT_ITEM_LIST{
	box-sizing: border-box;
	font-family: 'Saira';
	font-size: 16px;
	line-height: 14px;
	letter-spacing:1px;
	font-weight: 400;
	padding:10px 10px 0 10px;
	cursor:pointer;
}

.NE_CHAT_ITEM_MESSSAGE{
	box-sizing: border-box;
	font-family: 'Saira';
	font-size: 12px;
	line-height: 12px;
	letter-spacing:1px;
	font-weight: 200;
	color: #CCCCCC;
	padding:5px 10px 10px 10px;
	cursor:pointer;
}

.NE_CHAT_ITEM_MESSSAGE_NEW{
	box-sizing: border-box;
	font-family: 'Saira';
	font-size: 12px;
	line-height: 12px;
	letter-spacing:1px;
	font-weight: 400;
	color: #222222;
	padding:5px 10px 10px 10px;
	cursor:pointer;
}

.NE_SECONDARY_ORCAMENTO{
	width: 23%;
	margin-bottom: 100px;
	margin-right: 20px;
	float:right;
	text-align:left;
	box-sizing:border-box;
}
.NE_MAIN_ORCAMENTO{
	width: 71.5%;
	height: 505px;
	margin-right: 20px;
	margin-bottom: 20px;
	float:right;
	text-align:left;
	box-sizing:border-box;
}
/* Vinicius */

.NE_LOGIN_BG{
	background-color: #004070;
	background-image: url('images/login_bg.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}

.NE_WEEK_SELECTOR, .NE_WEEK_SELECTOR_D{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	font-weight: 200;
	width: 38px;
	height:38px;
	line-height: 38px;
	border-radius: 50%;
	text-align:center;
	display:inline-block;
	cursor:pointer;
}
.NE_WEEK_SELECTOR{background-color: #EEEEEE;}
.NE_WEEK_SELECTOR_D{background-color: #CCCCCC;}

.NE_WBOX{
	width:100%;
	box-shadow: 1px 1px 12px #BBBBBB;
	margin:0 0 10px 0;
	border-collapse: collapse;
}
.NE_TABLE_TITLE{
	border:1px solid #EEEEEE;
}

.NE_WBOX td{padding:0 10px;}

.NE_WBOX_H200{
	height:200px;
}
.NE_WBOX_H100{
	height:100px;
}
.NE_WBOX_H95{
	height:95px;
}
.NE_WBOX_H130{
	height:130px;
}
.NE_WBOX_H60{
	height:60px;
}
.NE_WBOX_H320{
	height:320px;
}
.NE_WBOX_H600{
	height:600px;
	max-height: 600px;
}

.NE_MIDDLE{
	vertical-align:middle;
}

.NE_CENTER_MIDDLE{
	vertical-align:middle;
	text-align:center;
}

.NE_WBOX_TITLE{
	font-family: 'Saira';
	font-size: 12px;
	line-height: 14px;
	letter-spacing:2px;
	font-weight: 400;
}
.NE_WBOX_DESC{
	font-family: Arial,sans-serif;
	font-size: 28px;
	line-height: 14px;
	letter-spacing:2px;
	font-weight: 600;
}
.NE_WBOX_NUMBER{
	font-family: Arial,sans-serif;
	font-size: 80px;
	line-height:20px;
	letter-spacing:2px;
	font-weight: 600;
}

.NE_WBOX_CURRENCY{
	font-family: 'Saira';
	font-size: 48px;
	line-height:20px;
	letter-spacing:2px;
	font-weight: 200;
}

.NE_WBOX_VALUE{
	font-family: 'Saira';
	font-size: 10px;
	line-height:9px;
	letter-spacing:1px;
}

.NE_WBOX_IMAGE_MENSAGEM, .NE_WBOX_IMAGE_FALE, .NE_WBOX_IMAGE_HIST, .NE_WBOX_IMAGE_CONFIG{
	width:60px;height:60px;
	display:inline-block;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}

.NE_WBOX_IMAGE_MENSAGEM{
background-image: url('images/Mensagem.png');
}
.NE_WBOX_IMAGE_FALE{
	background-image: url('images/FaleConosco.png');
}
.NE_WBOX_IMAGE_HIST{
	background-image: url('images/Historico.png');
}
.NE_WBOX_IMAGE_CONFIG{
	background-image: url('images/Historico.png');
}

.NE_WBOX_BAR_VIEW{
	border:2px solid #FFFFFF;
	border-radius:6px;
	height:8px;
	width:100%;
	padding:0;
	box-sizing:border-box;
	display:inline-block;
}

.NE_WBOX_BAR_CONTENT{
	height:4px;
	background-color:#FFFFFF;
}

.NE_ACTION_MOUSE{
	cursor:pointer;
}

@media(max-width: 1166px){

	.NE_TAB_VIEW {
		width: 95%;
		text-align: center;
		margin: auto;
		padding-top: 10px;
	}

	.NE_NAV_COMP_IMG {
		width: 54px;
	}

	.NE_LIGHTBOX{
		padding-top: 0px;
	}

	.NE_WIDTH_TD_SERVICOS {
		width: 50%;
	}

	.NE_HORIZONTAL_PADDING_LEFT_20 {
		padding-left: 10px;
	}

	.NE_TABLE_50 {
		width: 100% !important;
	}

	.NE_TABLE_50 td {
		padding-left:  5px !important;
		padding-right: 5px !important;
	}

	.NE_TABLE_70 {
		width: 100% !important;
	}

	.NE_TABLE_70 td {
		padding-left:  5px !important;
		padding-right: 5px !important;
	}

	.NE_BTN_UPLOAD_UPDATE {
		height: 300px;
	}

	.NE_CONTENT_WRAPPER_PHOTO {
		height: 100%;
	}

	.NE_CONTENT_WRAPPER_PERFIL {
		position:relative;
		height:100%;
		top: 0;
    	left: 0;
	}

	.NE_CENTER_MOBILE {
		text-align: center;
		margin: auto;
	}

	.NE_HEADER_BRAND{margin:auto;}

	.NE_CONTENT_1COL_EMPTY  {float:none;width:100%;}
	.NE_CONTENT_1COL        {float:none;width:100%;padding:15px 2%;}
	.NE_CONTENT_2COL40	    {float:none;width:100%;padding:15px 2%;}
	.NE_CONTENT_2COL60	    {float:none;width:100%;padding:15px 2%;}
	.NE_CONTENT_2COL20	    {float:none;width:100%;padding:15px 2%;}
	.NE_CONTENT_2COL25	    {float:none;width:100%;padding:15px 2%;}
	.NE_CONTENT_2COL80      {float:none;width:100%;padding:15px 2%;}
	.NE_CONTENT_2COL30      {float:none;width:100%;padding:15px 2%;}
	.NE_CONTENT_2COL50      {float:none;width:100%;padding:15px 2%;}
	.NE_CONTENT_2COL70      {float:none;width:100%;padding:15px 2%;}
	.NE_CONTENT_2COL75      {float:none;width:100%;padding:15px 2%;}
	.NE_CONTENT_3COL        {float:none;width:100%;padding:15px 2%;}
	.NE_CONTENT_4COL        {float:none;width:100%;padding:15px 2%;}
	.NE_CONTENT_5COL        {float:left;width:50%;padding:15px 2%;}
	.NE_CONTENT_1COL_SPLIT 	{float:left;width:50%;padding:15px 2%;}

	.NE_UNIDADE_MOBILE {
		font-size: 22px !important;
	}

	.NE_CONTENT_5COL20, .NE_CONTENT_5COL40, .NE_CONTENT_5COL60
	{float:left;width:100%;padding:15px 2%;}

	.NE_CLEAR_MOBILE_PADDING{
		padding: 0 !important;
	}

	.NE_CLEAR_SIDE_PADDING{
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	.NE_HEADER2_VIEW {
		height: 60px;
	}

	.NE_WBOX{box-shadow:0 0 0;margin-bottom:0;}

	.NE_WBOX td{/*padding:0;*/}

	.NE_BOX_VIEW_DESKTOP{max-width:100%;width:100%;}
	.NE_BOX_VIEW_MDESKTOP{max-width:100%;width:100%;}

	.NE_NOT_MOBILE{display:none}
	.NE_NOT_DESKTOP{display: table-cell;}
	.NE_NOT_DESKTOP_2{display: block;}

	.NE_MESSAGE{width: 250px}
	.NE_HOME_SPACE_TOP{padding-top: 50px}

	.NE_DRAG_CONTENT{
		white-space: nowrap;
	}
	.NE_LIGHTBOX_CONTENT{
		width: 100%;
		border-radius: 0px;
	}

	.NE_ICON_INSTALADOR_ACTIVED{
		width:100%;
	}
	.NE_ACTION_VIEW{
		height: 50px;
	}
	.NE_ACTION_D{
		bottom:-9px;
	}
	.NE_FLOAT_TOP{
		position: relative;
		margin-top: 0px;
	}
	.NE_BACKCOLOR_BOX{
		background-color: #ffffff;
	}
	.NE_MAIN_PADDING_CONTENT{
		padding: 0px 0px;
	}
	.NE_BOX_SHADOW{
	    padding: 0px;
	    box-shadow: none;
	}
	.NE_NOT_MOBILE_TABLE{
    border-spacing: 0px;
	}
	.NE_CHAT{
		margin-top: -50px;
	}
	.NE_SECONDARY_ORCAMENTO{
		width: 100%;
		margin: 0px;

	}
	.NE_MAIN_ORCAMENTO{
		width: 100%;
		height: 390px;
		margin: 0px;
	}

	.NE_STATUS_COINTAINER_LIST{
		border:0;
	}

	.NE_MIN_LIST_HEIGHT{
		min-height: 0 !important;
	}

	.NE_MT20,
	.NE_HORIZONTAL_PADDING_LEFT_10,
	.NE_HORIZONTAL_PADDING_20,
	.NE_HORIZONTAL_PADDING_LEFT_20,
	.NE_HORIZONTAL_PADDING_30,
	.NE_HORIZONTAL_PADDING_LEFT_30 {
		padding: 0;
	}

	.NE_HORIZONTAL_PADDING_10_TITLE {
		padding: 0;
	}

	.FONT_SIZE_LOGIN {
		font-size: 14px;
	}

	.NE_SHADOW_PADDING{padding-top: 0 !important;}

}

.NE_LOADING{display:table;table-layout:fixed;position:fixed;z-index:999999;top:0;right:0;width:100%;height:100%;box-sizing:border-box;background-color: rgba(0,0,0,.7)}
.NE_LOADING td{vertical-align:middle;text-align:center}

.NE_VIDEO{display:none;table-layout:fixed;position:fixed;z-index:999999;top:0;right:0;width:100%;height:100%;box-sizing:border-box;background-color: rgba(0,0,0,.7)}
.NE_VIDEO td{vertical-align:middle;text-align:center;position:relative;}
.NE_VIDEO_CLOSE{cursor:pointer;position: absolute; top:0;right:0;padding:15px;box-sizing: border-box;line-height: 26px;font-size: 16px;font-family: Arial, sans-serif;color: #FFFFFF;}
.NE_VIDEO_FRAME{max-width:720px;width:95%;height:480px;margin:auto;display:inline-block;border:none;border-radius:3px;}

.NE_POPUP{padding-left: 2%;padding-right: 2%;display:none;table-layout:fixed;position:fixed;z-index:999999;top:0;right:0;width:100%;height:100%;box-sizing:border-box;background-color: rgba(0,0,0,.7)}
.NE_POPUP td{vertical-align:middle;position:relative;}
.NE_POPUP_CLOSE{cursor:pointer;position: absolute; top:0;right:0;padding:15px;box-sizing: border-box;line-height: 26px;font-size: 16px;font-family: Arial, sans-serif;color: #FFFFFF}
.NE_POPUP_FRAME{max-width:720px;width:95%;height:480px;margin:auto;display:inline-block;border:none;border-radius:3px;}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.NE_NOTIFY_MESSAGE{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: 200;
	width: 100%;
	box-sizing:border-box;
	padding:14px 20px;
	color: #FFFFFF;
	/* background-color: #f49102; */
	background-color: #fcb144;
	border-radius:3px;
}


.NE_STATUS_ITEM_LIST{
	border-bottom:1px solid #EEEEEE;
	box-shadow: inset -10px 0 33px -14px #DEDEDE;
	box-sizing: border-box;
	padding:20px;
	font-family: 'Saira';
	font-size: 16px;
	line-height: 14px;
	letter-spacing:1px;
	font-weight: 400;
	cursor:pointer;
}

.NE_STATUS_COINTAINER_LIST{
	border-right:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}

.NE_MIN_LIST_HEIGHT{
	min-height: 288px;
}

.NE_EQUIP_TITLE{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 12px;
	font-weight: 200;
	padding:4px 0;
}

.NE_EQUIP_QNT{
	width:20%;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 12px;
	font-weight: 200;
	padding:4px 0;
}

.NE_INFO_BUTTON_VIEW{
	padding:10px 0;
	box-sizing:border-box;
}
